@use "table";
@use "object";

body {
	font-family: sans-serif;
	text-align: center;
	display: flex;
	flex-direction: column;
	margin: 0;
}
main {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}
nav {
	overflow: hidden;
	display: flex;
	justify-content: center;
	border-bottom: 1px solid black;
}
nav * {
	padding: 1em;
}
nav a[aria-current='page'] {
	background-color: lightgrey;
}